# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\0_My Study\0_MachineLearning\BaiduNetdiskWorkspace\0_MachineLearning\2_MachineLearningPro\SMCO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
